{{template "base/head" .}}
<div class="home">
<div class="ui container">
<h1 class="ui header">Webprogrammierung.org</h1>
<div class="ui link list">
<ul class="ui list">
<li><a href="http://webprogrammierung.org">Code-Server </a> ist ein freier Quelltext-Browser Editor  <a href="https://github.com/cdr/code-server"> Source Code) </a></li>
<li><a href="http://webprogrammierung.org">Gitea Server </a></li>

</ul>
</div>
</div>
</div>
{{template "base/footer" .}}
